.header {
  background-color: #f6eae8;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: var(--10px);
}

.name p {
  font-size: 1.375rem;
  font-family: "Playfair Display", serif;
  color: #7a1401;
  font-weight: 600;
}

.badge-link {
  text-decoration: none;
  color: black;
  /* width: fit-content; */
  /* align-self: flex-end; */
}

.reg-and-auth-wrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
}

.logout-button {
  border: none;
}

.register-link,
.login-link {
  text-decoration: none;
}

.register-link,
.login-link,
.logout-button {
  color: black;
  padding: 0.2rem 0.4rem;
  background-color: #f2d6ca;
  width: fit-content;
  height: fit-content;
  border-radius: 0.6rem;
  font-size: 0.875rem;
}

.greetings {
  text-wrap: balance;
  font-size: 0.875rem;
}
