.checkout {
  padding: 1rem 2rem;
  background-color: #fff8f6;
  font-family: "Playfair Display", serif;
}

.checkout h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-block: 1rem;
  color: #7a1401;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.customerInfo h2,
.checkoutCart h2 {
  font-size: 1.2rem;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orderModeWrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}

.deliveryWrapper,
.pickupWrapper {
  display: flex;
  gap: 0.3rem;
  background-color: #fceae4;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  accent-color: #591c06;
}

.nameWrapper,
.phoneWrapper,
.selectWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.checkoutForm input,
.checkoutForm select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: black;
  background-color: #fceae4;
}

.checkoutForm input {
  border: 1px solid;
}

.checkoutCart ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.checkoutCart ul li {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.checkoutItemsWrapper {
  background-color: #fceae4;
  padding: 0.4rem;
  margin-block: 0.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
}

.checkoutCartItem {
  background-color: #f1d8d0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.5fr;
  margin-block: 0.5rem;
  border-radius: 0.3rem;
}

.payButton {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #9b2c16;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  margin-block: 0.5rem;
  font-size: 1.2rem;
}

.paymentMessage {
  background-color: rgb(204, 241, 207);
  color: rgb(9, 169, 9);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.emptyCartMessage {
  padding-block: 1rem;
}

.errorMessage {
  color: red;
}

@media (max-width: 52.1875rem) {
  .contentWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
