.dish-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.empty-message {
  margin-top: 5rem;
  align-self: center;
  font-size: 1.1rem;
}

.dish-list h2 {
  text-align: center;
  color: var(--heading-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.dish-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  padding: 1rem;
  gap: var(--10px);
  row-gap: 2rem;
}
