.menu {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  padding-inline: 2.5rem;
  background-color: #fff8f6;
  padding-top: 2rem;
}

.heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #7a1401;
}

.heading p {
  font-size: 1.0625rem;
  width: 60%;
}

@media (max-width: 44.5rem) {
  .menu {
    padding-inline: 1rem;
  }
  .heading {
    display: none;
  }
}
