.cartbadge {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  font-size: 0.6875rem;
  background-color: #184530;
  color: white;
  padding: 0.125rem 1rem 0.125rem 0.5rem;
  border-radius: 0.75rem;
  width: fit-content;
  justify-self: center;
}

.badge-count {
  font-size: inherit;
}

.items {
  font-size: inherit;
}

.cart-icon {
  font-size: 1.5rem;
}
