.category-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: var(--category-bar-color);
  padding-block: 1rem;
  padding-inline: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.category-bar button {
  flex: 0 0 auto;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.category-button {
  background-color: rgb(165, 90, 9);
}

.selected-category-button,
.category-bar button:hover {
  background-color: hsl(50, 84%, 25%);
}
