.category-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.category-bar button {
  flex: 0 0 auto;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.category-button {
  background-color: #fceae4;
  color: #58413d;
}

.selected-category-button {
  background-color: #7a1401;
  color: white;
}

@media (hover: hover) {
  .category-bar button:hover {
    background-color: #7a1401;
    color: white;
  }
}
