.dish-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.empty-message {
  margin-top: 5rem;
  align-self: center;
  font-size: 1.1rem;
}

.dish-list > h3 {
  text-align: center;
  color: var(--heading-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dish-list-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(12rem, 1fr));
  /* padding: 1rem; */
  gap: 1rem;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

@media (max-width: 64rem) {
  .dish-list-grid {
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
  }
}

@media (max-width: 48rem) {
  .dish-list-grid {
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
  }
}

@media (max-width: 31.25rem) {
  .dish-list-grid {
    grid-template-columns: 1fr;
    margin-inline: auto;
  }
}
