.food-card {
  background-color: var(--food-card-color);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: var(--10px);
  border-radius: var(--10px);
}

.food-card h3 {
  color: var(--heading-color);
}

.food-card p {
  padding: 0.5rem;
  margin: 0.125rem;
  background-color: rgb(242, 148, 148);
  border-radius: var(--10px);
}
