/* .cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  background-color: rgb(246, 158, 158);
  width: fit-content;
  border-radius: 1rem;
  padding-left: 1rem;
}

.cart-item p {
  display: flex;
  align-items: center;
}

.dishQuantity {
  justify-content: center;
  width: 3rem;
}

.change-quantity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.change-quantity button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(172, 43, 43);
  border-radius: 1rem;
}

.decCountInc {
  display: flex;
} */

.cartItem {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  height: 9rem;
  gap: 0.2rem;
  border-radius: 0.5rem;
}

.imageAndTextWrapper {
  display: flex;
  height: 100%;
  gap: 0.3rem;
}

.imageWrapper {
  flex-shrink: 0;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.cartImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.textwrapper {
  display: flex;
  flex-direction: column;
}

.textwrapper > p {
  font-size: 0.8125rem;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
}

.nameWrapper h3 {
  font-size: 1.3rem;
}

.nameWrapper > p {
  display: block;
  font-size: 0.9rem;
}

.description {
  font-size: 0.8125rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceAndButtonWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.priceAndButtonWrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  color: rgb(205, 33, 33);
  font-weight: 600;
}

.priceAndButtonWrapper button {
  border: none;
}

.decCountInc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #faddd3;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}

.decCountInc button {
  background-color: white;
  border-radius: 0.3rem;
  padding-block: 0.3rem;
  padding-inline: 0.6rem;
}

.decCountInc p {
  padding-inline: 0.5rem;
}

.remove {
  background-color: #faddd3;
  border-radius: 0.3rem;
}

@media (max-width: 60rem) {
  .nameWrapper h3 {
    font-size: 1rem;
  }
  .nameWrapper p {
    font-size: 0.8rem;
  }

  .textwrapper > p {
    font-size: 0.74rem;
  }
}

@media (max-width: 31.25rem) {
  .cartItem {
    grid-template-columns: 1fr;
    height: 12rem;
  }

  .imageWrapper {
    flex-shrink: 0;
    width: 30%;
  }

  .priceAndButtonWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
